<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="My education" big=true}}
            <ul class="mt-3 mb-3">
                {{#each educations}}
                <li>
                    {{name}}
                    {{#unless isEnd}}(In Progress...){{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data="Courses"}}
            <ul class="mb-3">
                {{#each courses}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data="My Certificates"}}
            <ul>
                {{#each certificates}}
                <li>{{name}} ({{id}})</li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>