{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="col-8">
    <div class="row">
        <section>
            <div class="row mt-5 ms-3">
                <div class="col-4 text-center">
                    <div>
                        <a class="btn btn-primary" href="/shophome">Shop home</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/shoporder">Shop order</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/shopcart">Shop cart</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/shopprofile">Shop profile</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/shopreview">Shop review</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/shopcatalog">Shop catalog</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/task21">Task 21 page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/task22">Task 22 page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/task31">Task 31 page</a>
                    </div>
                </div>

                <div class="col-4 text-center">
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/summary">Summary page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/skills">Skills page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/work">Work page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/person">Person page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/mac">Mac page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/js">JS page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/facebook">Facebook page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/education">Education page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/car">Car page</a>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="/bio">Bio page</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}