{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<section>
    <div class="row mt-5 ms-3">
        <div class="">
            <div>
                <a class="btn btn-primary" target="_blank" href="/shophome">Shop home</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" target="_blank" href="/shoporder">Shop order</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" target="_blank" href="/shopcart">Shop cart</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" target="_blank" href="/shopprofile">Shop profile</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" target="_blank" href="/shopreview">Shop review</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary" target="_blank" href="/shopcatalog">Shop catalog</a>
            </div>
        </div>
    </div>
</section>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}